.map-img {
  width: 100%;
  height: 30vh;
}

.img {
  width: 100%;
  height: 30vh;
}
.main-view-container {
  background-color: darkcyan;
  width: 80%;
  height: 90%;
  border-style: solid;
  border-color: blueviolet;
  border-radius: 10px;
  position: fixed;
  top: 5vh;
  right: 5vw;
}
